// ────────────── Input Configuration ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Input

input {
    mod-key "Alt"

    keyboard {
        repeat-delay 200
        repeat-rate 35
    }

    touchpad {
        tap // Enable tap-to-click
        natural-scroll // Enable natural (macOS-style) scrolling
    }

    mouse {
        accel-profile "flat"
        accel-speed 0.0
    }

    focus-follows-mouse
    workspace-auto-back-and-forth
}
